<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>NATS ADOPS Test</title>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.3.1/css/bulma.css">
	<script type="text/javascript" src="//unpkg.com/vue@2.1.10/dist/vue.js"></script>
</head>
<body>

<style>
	.container-fluid {
		padding: 1%;
	}

	table.removeZero tr:first-child th:first-child p:first-of-type {
		display: none;
	}

 	.is-success {
 		background-color: #00d1b2;
 		color: white;
 		border-radius: 3px;
 	}
</style>

	<div id="nats">
		<div class='hero is-primary is-bold'>
			<div class="hero-body">
				<div class="container">
					<h1 class="title">{{message}}</h1>
				</div>
			</div>
		</div>

<br>
		<section class='container-fluid'>
			<div class="columns">
			<!--First Column-->
				<div class="column">
					<form method='get' @submit.prevent="getNats">
						<div class='block'>
							<label class="label">How Many Lines</label>
							<p class="control">
							  <input class="input" type="text" placeholder="Enter a number" v-model.number='numberOfLines' type='number'>
							</p>

							<label class="label">How Many Characters</label>
							<p class="control">
							  <input class="input" type="text" placeholder="Enter a number" v-model.number='numberOfChars' type='number'>
							</p>

							<label class="label">How Many Iterations</label>
							<p class="control">
							  <input class="input" type="text" placeholder="Enter a number" v-model.number='numberOfIterations' type='number'>
							</p>

							<input type='submit' class='button is-primary' value="Start Exercise">

						</div>
					</form>
					<br>
					<!--Exercise values-->
					<p class="notification is-primary">
      			NATS EXERCISE
    			</p>

					<div class="block">
						<table class="table is-bordered is-striped removeZero">
						  <thead>
						    <tr>
						    </tr>
						   </thead>
						   <tbody>
						   <tr></tr>
						    <tr v-for='(nats, index) in finalNatsArray'>
						    	<th><p class='has-text-centered'>{{index}}</p></th>
						      <th v-for='n in nats' ><p class='has-text-centered' >{{n.value}}</p></th>
						    </tr>
						   </tbody>
						</table>
					</div>
				</div>
		</div>

			<!--Possible Answer Column-->
			<div class='columns'>
				<div class="column">
					<p class="notification is-primary">
      			CHOOSE THE MATCHING TWO
    			</p>
					<div class="block">
						<table class="table is-bordered is-striped">
						  <thead>
						    <tr>
						    </tr>
						   </thead>
						   <tbody>

						    <tr v-for='(nats, index) in finalNatsArray'>
						    	<th><p class='has-text-centered'>{{index + 1}}</p></th>
						    	<td v-for='answer in finalNatsArray[0]'><p class='has-text-centered'>{{answer.value}}</p></td>
						 
						    </tr>
						   </tbody>
						</table>
					</div>
				</div>
			</div>


		<p class="notification is-primary">
      			NATS CORRECT ANSWERS
    			</p>

					<div class="block">
						<table class="table is-bordered is-striped removeZero">
						  <thead>
						    <tr>
						    </tr>
						   </thead>
						   <tbody>
						   <tr></tr>
						    <tr v-for='(nats, index) in finalNatsArray'>
						    	<th><p class='has-text-centered'>{{index}}</p></th>
						      <th v-for='n in nats' ><p class='has-text-centered' :class="{ 'is-success': n.success }" >{{n.value}}</p></th>
						    </tr>
						   </tbody>
						</table>
					</div>


		</section>
	</div>

<script src='main.js'></script>
</body>
</html>
